#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ListGroup{
  display: flex;
  gap: 10px;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}

.ListGroup{
  display: flex;
  justify-content: center;
  align-items: center;
}
.CardItem{
  background-color: #829298;
  border-radius: 15px;
  padding: 15px;
}

.CardItem Header{
  color: #331E38;
}

nav{
  display: flex;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
